@import url("./main.css");


:root {
    --laranja-claro: #F9B970;
    --amarelo: #c7b77f;
    --preto: #111111;
    --branco: #FFFFFF;
    --cinza: #8F8F8F;
    --bg: #FF6F22

}

.crete-round-regular-italic {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: italic;
    background-color: var(--bg);
}



/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- Cesar Iglesias 
/*