.table-container {
    max-width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #ff7f2a;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffc966;
    text-align: left;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    color: black; /* Cor ajustada para melhor legibilidade */
    white-space: nowrap; /* Impede que o conteúdo quebre linhas */
}

th {
    background-color: #ffb84d;
    font-weight: bold;
}

/* Ajuste para a coluna Total */
td:nth-child(12) {
    text-align: right;
    width: 100px; /* Define uma largura mínima para a coluna */
}

td {
    text-align: left;
}

/* Definindo um ajuste específico para colunas numéricas */
td:nth-child(11), td:nth-child(12) {
    text-align: right;
}
