/* footer pagina inicial HTML */

/* CSS for sticky footer */
html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  main {
    flex: 1 0 auto; /* Allows the main content to grow and take available space */
  }
  
  footer {
    flex-shrink: 0; /* Ensures footer stays at the bottom */
  }

/* footer pagina inicial HTML */

  