/* index.html */
.formulario {
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  
  /* Centralize vertical and horizontal */
  html, body {
    height: 100%;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Responsive image style */
  .img-login {
     /* Adjusts image to 50% of its original width */
    object-fit: contain; /* Maintains aspect ratio of image */
  }
  

/* index.html */